.containerRegisterImgRepeat {
  box-shadow: none;
  background-image: linear-gradient(
      to bottom,
      rgba(2, 6, 23, 0.829),
      rgba(21, 21, 21, 0.5) 80%,
      rgb(30 41 59)
    ),
    /* Gradiente linear */ url("/backgroundRegister.gif"); /* Imagem de fundo */
  background-size: cover;
}
